<section
  class="auth-page"
  [style.--auth-card-width]="cardWidth"
  [style.--auth-content-width]="contentWidth"
  [style.--auth-hero-height]="heroHeight"
>
  <p-card styleClass="auth-card" [style]="{ overflow: 'hidden' }">
    <ng-template pTemplate="header">
      <img [alt]="heroAltText" class="auth-hero-image" [src]="imageSrc" (click)="onHeroImageClick()" />
    </ng-template>

    <ng-template pTemplate="title">
      <h2 class="auth-title">{{ title }}</h2>
    </ng-template>

    <ng-template pTemplate="subtitle">
      <p class="auth-subtitle">{{ subtitle }}</p>
    </ng-template>

    <article class="auth-content">
      <ng-content select="[auth-body]"></ng-content>
    </article>

    <ng-template pTemplate="footer">
      <article class="auth-footer">
        <ng-content select="[auth-footer]"></ng-content>
      </article>
    </ng-template>
  </p-card>
</section>
